.wd-a {
    display: flex;
}

.wd-a-title {
    margin-left: 10px;
    padding-left: 3%;
}

.wd-a-handle{
    color: lightgray;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 16px;
    border-bottom: 1px solid lightgray;
}
.wd-rest{
    clear: both;
}
.wd-user-image{

    margin-top: 12px;
    margin-left: 16px;
    border-radius: 48%;
    float: left;
    width:3%
}
.wd-c{
    float: left;
    margin-top: 12px;
    margin-left: 12px;
    width:90%;
}
.wd-c-author{
    font-size: 15px;
}
.wd-c-handle{
    color: lightgray;
    font-size: 15px;
}
.wd-d-content{
    font-size: 15px;
    width: 506px;
}
.wd-e-image{
    width: 504px;
    height: 264px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    border-bottom: 1px solid lightgray
}
.wd-e{
    width: 504px;
    border:1px solid lightgray;
    border-radius: 10px;
}

.wd-f-title{
    padding-left: 12px;
    padding-right:12px;
    font-size: 15px;

}
.wd-f-content{

    padding-left: 12px;
    padding-right:12px;
    padding-bottom: 12px;
    font-size: 15px;
    color: darkgray;

}

.wd-g-icon{
    margin-top: 12px;
    margin-bottom: 20px;
}

.flag-name::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 16px;
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.britannica.com%2F68%2F7068-004-7848FEB4%2FFlag-Canada.jpg&tbnid=P0gTw_tJAsDUAM&vet=12ahUKEwiTs6mDxYr_AhWSCVkFHcFJAUQQMygAegUIARD4Ag..i&imgrefurl=https%3A%2F%2Fwww.britannica.com%2Ftopic%2Fflag-of-Canada&docid=0LBLkIxc6WD_HM&w=800&h=400&q=canada%20flag&ved=2ahUKEwiTs6mDxYr_AhWSCVkFHcFJAUQQMygAegUIARD4Ag');
    background-size: cover;
    margin-right: 5px;
}

.flag-text::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.britannica.com%2F68%2F7068-004-7848FEB4%2FFlag-Canada.jpg&tbnid=P0gTw_tJAsDUAM&vet=12ahUKEwiTs6mDxYr_AhWSCVkFHcFJAUQQMygAegUIARD4Ag..i&imgrefurl=https%3A%2F%2Fwww.britannica.com%2Ftopic%2Fflag-of-Canada&docid=0LBLkIxc6WD_HM&w=800&h=400&q=canada%20flag&ved=2ahUKEwiTs6mDxYr_AhWSCVkFHcFJAUQQMygAegUIARD4Ag');
    background-size: cover;
    margin-right: 5px;
}