.wd-ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wd-ul2 li {
  display: flex;
  flex-direction: column; /* Add flex-direction to create a vertical layout */
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 10px;
}
.grid-row {
  clear: both;
}
.grid-col-left {
  width: 10%;
  float: left;
}
.wd-container {
  display: flex;
  align-items: center;
}
.wd-container-A {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-width: 1px;
}
.wd-container-A-left {
  width: "10%";
}
.wd-padding-left {
  padding-left: 25px;
}
.wd-padding-left-12 {
  padding-left: 12px;
}
.wd-padding-right {
  padding-right: 25px;
}
.wd-padding-topbottom-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.wd-padding-all {
  padding: 12;
}
.wd-width-10 {
  width: 25px;
}
.wd-fg-color-grey {
  color: gray;
}
.wd-fg-color-red {
  color: red;
}
.wd-img-size {
  height: 48px;
  width: 48px;
  padding-left: 16px;
  border-radius: 24px;
}
.wd-round-image {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.wd-valign-top {
  vertical-align: top;
}
.wd-border-solid {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(148, 148, 148);
}
.wd-border-radius {
  border-radius: 25px;
}

.wd-li {
  flex: 1;
}
.wd-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.wd-float-right {
  float: right;
}
.wd-flex-grow {
  flex-grow: 1;
}
